/* Base styles and resets */

/* Temporary Borders for Visualizing Development and Layout */
/* Apply a border to all elements */
/* * { border: 1px solid white; } */

/* highlight an element as your cursor hovers over */
/* *:hover { outline:2px solid rgb(0, 255, 0); } */

/* Global removal of focus outlines for contenteditable elements */
[contenteditable], [contenteditable]:focus, [contenteditable]:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

/* Base HTML elements */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    touch-action: manipulation; /* Prevents double tap zoom on mobile devices */
    overflow: hidden; /* Prevent scrolling on the entire page */
    position: fixed; 
    width: 100%;
    height: 100%;
    max-width: 100vw; /* Prevent horizontal overflow */
    /* Ensure no padding is applied now that ads are removed */
    padding-left: 0;
    padding-right: 0;
}

/* Apply to all classes containing the string container */
[class*="container"] { 
    text-align: center;
    padding: 0; /* This might break a lot of things from Bootstrap but so far looks way better */
} 