/* Temporary Borders for Visualizing Development and Layout */
/* Apply a border to all elements */
/* *{box-sizing:border-box;} */

/* highlight an element as your cursor hovers over */
/* *:hover { 
    outline:1px solid rgb(0, 255, 0);;
} */

/* Production CSS */

/* Apply to all classes containing the string container in the class name (helps with all the bootstrap classes */
[class*="container"] { 
    text-align: center;
}
/* .row {

}
[class*="col"] {

} */
.center, .lyricle-lyrics-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lyricle-topbar {
    height: 5vh;
    border-bottom: 2px solid rgba(255, 255, 255, 0.177);
}
.lyricle-logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
}
.lyricle-topbar-button {
    font-size: 3vh;
    outline: none;
    border: none;
}
.lyricle-songtitle {
    height: 5vh;
    font-size: 1.8vmax;
    word-spacing: 0.10vmax;
    border-bottom: 2px solid rgba(255, 255, 255, 0.177);
}
.lyricle-songtitle-spacer {
    margin-left: 0.4vmax;
    margin-right: 0.4vmax;
    padding-left: 0.4vmax;
    padding-right: 0.4vmax;
}
.lyricle-lyrics {
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lyricle-lyrics-grid {
    max-width: 484px;
    max-height: 56vh;
}
.lyricle-lyrics-row {
    max-width: 484px;
    height: 7vh;
}
.lyricle-lyrics-input {
    height: 7vh;
    text-align: center;
    font-weight: normal;
    display: inline-block;
}
.lyricle-lyrics-input-correct {
    color: green;
}
.lyricle-oskb {
    text-align: center;
    max-width: 484px;
    min-height: 32vh;
    max-height: 198px;
    margin-left: auto;
    margin-right: auto;
}
.lyricle-oskb-row {
    margin: 10px;
    padding: 10px;
}