/* Temporary Borders for Visualizing Development and Layout */
/* Apply a border to all elements */
/* * { border: 1px solid white; } */

/* highlight an element as your cursor hovers over */
/* *:hover { outline:2px solid rgb(0, 255, 0); } */

/* Production CSS */

/* Apply to all classes containing the string container in the class name (helps with all the bootstrap classes */
[class*="container"] { 
    text-align: center;
    padding: 0; /* This might break a lot of things from Bootstrap but so far looks way better */
}

body {
    touch-action: manipulation; /* Prevents double tap zoom on mobile devices, helps for pressing Random and Lifeline */
}

/* Center the element vertically and horizontally */
.center, .lyricle-lyrics-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xycenter {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Parent Elements (First "Layer" within Body) */
.lyricle-alerts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 5vh;
    padding-top: 5vh;
}
.lyricle-topbar {
    max-width: 800px; /* Prevents larger displays from oversizing divs */
    max-height: 80px; /* Prevents larger displays from oversizing divs  */
    height: 5vh; /* Dynamically calculates height based on viewport for mobile responsivenesss but is limited by aforementioned max values for large displays */
    margin-left: auto; /* margins left and right being auto center the element without needing to be a container (with bootstrap CSS flexing) */
    margin-right: auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.177);
}
.lyricle-songtitle {
    max-width: 800px; /* Prevents larger displays from oversizing divs */
    max-height: 80px; /* Prevents larger displays from oversizing divs  */
    height: 5vh; /* Dynamically calculates height based on viewport for mobile responsivenesss but is limited by aforementioned max values for large displays */
    border-bottom: 2px solid rgba(255, 255, 255, 0.177);
}
.lyricle-lyrics {
    max-width: 800px; /* Prevents larger displays from oversizing divs */
    max-height: 766px; /* Prevents larger displays from oversizing divs  */
    height: 35vh; /* Dynamically calculates height based on viewport for mobile responsivenesss but is limited by aforementioned max values for large displays */
    margin-left: auto; /* margins left and right being auto center the element without needing to be a container (with bootstrap CSS flexing) */
    margin-right: auto;
}
.lyricle-oskb {
    max-width: 484px; /* Prevents larger displays from creating unreasonably large OSKB */
    max-height: 200px; /* Prevents larger displays from creating unreasonably large OSKB  */
    height: 30vh; /* Dynamically calculates height based on viewport for mobile responsivenesss but is limited by aforementioned max values for large displays */
    margin-left: auto; /* margins left and right being auto center the element without needing to be a container (with bootstrap CSS flexing) */
    margin-right: auto;
    text-align: center;
}

/* Children Elements (Elements contained within the aforementioned Parents) */
.lyricle-topbar-logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
}


.lyricle-icon-button {
    font-size: 3vh;
    outline: none;
    border: none;
}


.lyricle-lyrics-grid {
    max-width: 800px; /* Prevents larger displays from oversizing divs */
    max-height: 766px; /* Prevents larger displays from oversizing divs  */
    margin-left: auto; /* margins left and right being auto center the element without needing to be a container (with bootstrap CSS flexing) */
    margin-right: auto;
}
.lyricle-lyrics-row {
    max-width: 800px;
    margin-left: auto; /* margins left and right being auto center the element without needing to be a container (with bootstrap CSS flexing) */
    margin-right: auto;
}
.lyricle-lyrics-div {
    height: 1.6em;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    border: none;
    /* border-bottom: 2px solid rgb(255, 255, 255); */
    font-size: min(1.3em, 60px);
    font-weight: bold;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 4px;
}
.lyricle-lyrics-div-special {
    margin-left: 0px;
}

.lyricle-lyrics-div-spaceLeft {
    margin-left: 4px;
}

.lyricle-lyrics-div-spaceRight {
    margin-left: 4px;
}
.lyricle-lyrics-input {
    width: 100%;
    height: 100%;
    color: rgb(209, 209, 209);
}
.lyricle-lyrics-input-noguess {
    /* border-bottom: none; */
}
.lyricle-lyrics-input-correct {
    color: green;
    /* border-bottom: none; */
}

.lyricle-oskb-row {
    max-width: 484px; /* Prevents larger displays from creating unreasonably large OSKB */
    max-height: 66px; /* Prevents larger displays from creating unreasonably large OSKB  */
    height: 10vh; /* Dynamically calculates height based on viewport for mobile responsivenesss but is limited by aforementioned max values for large displays */
    margin: 0px;
    padding: 0px;
}
.lyricle-oskb-col {
    margin: 0px;
    padding: 0px;
}
.lyricle-lifeline-button {
    position: relative;
    font-size: 6vh;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.lyricle-lifeline-number {
    font-size: 4vh;
    color: rgb(65, 65, 65);
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

/* font-size will be calculated in JavaScript dynamically based on song title character length*/
/* Base font size is 1.5em (em is relevant to parent container and therefore inherently dynamic) */
/* 15 characters is the maximum character length before going out of bounds at 1.5em font size */
/* the algorithm written in CSS syntax will be: calc(1.5em - ((character length beyond 15) * 0.05em)) */
/* In plain English, use 1.5em as the base font size and reduce font size by 0.05em for every character beyond a length of 15 */
.lyricle-songtitle-text {
    white-space: nowrap;
}
.lyricle-songtitle-spacer {
    margin-left: 0.3vmax;
    margin-right: 0.3vmax;
    padding-left: 0.3vmax;
    padding-right: 0.3vmax;
}